node_modules/
coverage/
.DS_Store
*.log
.env
.env.local

# Ignore most dist except in actions and CLI
packages/*/dist/*
!packages/git-flow/dist/
packages/git-flow/dist/*
!packages/git-flow/dist/cli/
!actions/*/dist/
